/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

select, input[type=text], input[type=email], input[type=submit] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type=submit] {
    background-color: #5C67F2;
    color: white;
}

input[type=submit]:hover {
    background-color: #5058E2;
}
